.scroll{
	overflow:auto;
	height:calc(100vh - 260px);
	text-align: center !important;
}

h1{
	width:100%;
}

.tabs .MuiTabs-fixed {
	display: flex !important;
	justify-content: center !important;
}

.tabs .MuiTabs-flexContainer {
	width: 600px;
	min-width: 70%;
	display: flex;
	justify-content: space-around;
}


.marketing {
    font-family: 'Inter', sans-serif !important;
    color: #009C07 !important;
    font-weight: 900 !important;
}